<script type="text/javascript">
	var cardOne = "<%=@card_info[0].name%>";
	var cardTwo = "<%=@card_info[1].name%>";
	globalOne = cardOne;
	globalTwo = cardTwo;
</script>

<h1 class="center" id="pageTopNames"><%= @card_info[0].name + " || " + @card_info[1].name %></h1>
<p><%= link_to "Back", magic_path %></p>

<%=@card_info[0].super_types%>
<%=@card_info[0].basic_types%>
<%=@card_info[0].sub_types%>

<div class="row">
	<div class="col-md-12">
		<div id="new-comparison-form">
			<p class="center">Left Card: <input type="text" id="firstCard" class="center-block" /></p>
			<p class="center">Right Card: <input type="text" id="secondCard" class="center-block"/></p>
			<h4 class="center"><a href="javascript:newCardValues(globalOne, globalTwo);">Compare!</a></h4>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-sm-4" id="card-one">
		<div id="imageOne"><img src='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%=@card_info[0].multiverse_id%>&type=card' class="center-block"></div>
		<h3 class="center" id="headNameOne"><%=@card_info[0].name%></h3>
		<h5 class="center" id="searchMeOne"><a href="/magic?name=<%=@card_info[0].name%>">Search '<%=@card_info[0].name%>'</a></h5>
			<div class="center">
				<p id="colorIdOne">Color Identity: <%=@card_info[0].color_identity%></p>
				<p id="cmcOne">CMC: <%=@card_info[0].cmc%></p>
				<p id="cardTypeOne">Types: <%=@card_info[0].card_type%></p>
				<p id="rarityOne">Rarity: <%=@card_info[0].rarity%></p>
				<p>Formats <%="&"%> Legality:</p>
				<div id="legalOne"><%=@card_info[0].legalities.html_safe%></div>
			</div>
	</div>

	<div class="col-md-4 col-sm-4" id="comparison-column">
		<h3 class="center">Comparisons</h3>
		<p class="center" id="comparNames"><%=@card_info[0].name%> || <%=@card_info[1].name%></p>
		<!-- This area will display green text when card1 has more of something like converted mana cost, blue when it's different but not better, red when it's less or worse, and purple when they're the same -->
		<p class="center">Color Identity: </p>
		<p class="center" id="colorId">| <%=@card_info[0].color_identity%> | content here | <%=@card_info[1].color_identity%> |</p>
		<p class="center">CMC: </p>
		<p class="center" id="cmc"><%if @card_info[0].cmc > @card_info[1].cmc%>
			|<b class="better"><%=@card_info[0].cmc%></b>|<i class="worse"><%=@card_info[1].cmc%></i>|
			<%elsif @card_info[0].cmc < @card_info[1].cmc%>
			|<i class="worse"><%=@card_info[0].cmc%></i>|<b class="better"><%=@card_info[1].cmc%></b>|
			<%else%>
			|<strong class="same"><%=@card_info[0].cmc%></strong>|<strong class="same"><%=@card_info[1].cmc%></strong>|
			<%end%>
		</p>
		<p class="center">Types</p>
		<p class="center" id="cardType"></p>
		<p class="center">Rarity: </p>
		<p class="center" id="rarity"></p>
	</div>

	<div class="col-md-4 col-sm-4" id="card-two">
		<div id="imageTwo"><img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%=@card_info[1].multiverse_id%>&type=card" class="center-block"></div>
		<h3 class="center" id="headNameTwo"><%=@card_info[1].name%></h3>
		<h5 class="center" id="searchMeTwo"><a href="/magic?name=<%=@card_info[1].name%>">Search '<%=@card_info[1].name%>'</a></h5>
			<div class="center">
				<p id="colorIdTwo">Color Identity: <%=@card_info[1].color_identity%></p>
				<p id="cmcTwo">CMC: <%=@card_info[1].cmc%></p>
				<p id="cardTypeTwo">Types: <%=@card_info[1].card_type%></p>
				<p id="rarityTwo">Rarity: <%=@card_info[1].rarity%></p>
				<p>Formats <%="&"%> Legality:</p>
				<div id="legalTwo"><%=@card_info[1].legalities.html_safe%></div>
			</div>
	</div>