<script type="text/javascript">
	var cardOne = "<%=@card_info[0].name%>";
	var cardTwo = "<%=@card_info[1].name%>";
</script>

<h1 class="center"><%= @card[0] + " || " + @card[1] %></h1>
<p><%= link_to "Back", magic_path %></p>

<div class="row">
	<div class="col-md-12">
		<%= form_tag compare_path do %>
			<%= text_field_tag :card1, nil, placeholder: "Card One", class: "center-block"%>
			<%= text_field_tag :card2, nil, placeholder: "Card Two", class: "center-block"%>
			<%= submit_tag "Compare", class: "btn btn-primary", class: "center-block"%>
		<%end%>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-sm-4" id="card-one">
		<img src="<%=@card_info[0].img_url%>" class="center-block">
		<h3 class="center"><%=@card_info[0].name%></h3>
			<div class="center">
				<p>Color Identity: <%=@card_info[0].color_identity%></p>
				<p>CMC: <%=@card_info[0].cmc%></p>
				<p>Types: <%=@card_info[0].card_type%></p>
				<p>Rarity: <%=@card_info[0].rarity%></p>
				<p>Formats <%="&"%> Legality:</p>
				<%=@card_info[0].legalities.html_safe%>
			</div>
	</div>

	<div class="col-md-4 col-sm-4" id="comparison-column">
		<h3 class="center">Comparisons</h3>
		<p class="center"><%=@card_info[0].name%> || <%=@card_info[1].name%></p>
		<!-- This area will display green text when card1 has more of something like converted mana cost, blue when it's different but not better, red when it's less or worse, and purple when they're the same -->
		<p>Color Identity: <div class="colorId"></div></p>
	</div>
	<div class="col-md-4 col-sm-4" id="card-two">
		<img src="<%=@card_info[1].img_url%>" class="center-block">
		<h3 class="center"><%=@card_info[1].name%></h3>
			<div class="center">
				<p>Color Identity: <%=@card_info[1].color_identity%></p>
				<p>CMC: <%=@card_info[1].cmc%></p>
				<p>Types: <%=@card_info[1].card_type%></p>
				<p>Rarity: <%=@card_info[1].rarity%></p>
				<p>Formats <%="&"%> Legality:</p>
				<%=@card_info[1].legalities.html_safe%>
			</div>
	</div>