<p id="notice"><%= notice %></p>

<h2>Recipes</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dog</th>
     <!--  <th>Owner</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.dog.try(:name) %></td>
        <td><%= recipe.dog.user.first_name + " " + recipe.dog.user.last_name %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
