<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Dog:</strong>
  <%= @recipe.dog.try(:name) %>
</p>

<p>
  <strong>Ingredient:</strong>
  <% @recipe.ingredients.each do |ingredient| %>
  	<p><%= ingredient.name %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
