<%= form_with(model: ingredient, local: true) do |form| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :ingredient_name %>
  </div>

  <div class="field">
    <%= form.label :cho %>
    <%= form.text_field :cho, id: :ingredient_cho %>
  </div>

  <div class="field">
    <%= form.label :pro %>
    <%= form.text_field :pro, id: :ingredient_pro %>
  </div>

  <div class="field">
    <%= form.label :fat %>
    <%= form.text_field :fat, id: :ingredient_fat %>
  </div>

  <div class="field">
    <%= form.label :kcal %>
    <%= form.number_field :kcal, id: :ingredient_kcal %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :ingredient_category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
